@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
body {
  font-family: "Karla", sans-serif;
  background-color: #e6eff5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  overflow: hidden;
}

.header {
  padding: 20px;
  text-align: left;
  background-color: #f7f9fb;
}

.header h1 {
  margin: 0;
  color: #2d9cdb;
}

.guarantee {
  color: #c0df33;
  font-weight: bold;
}

.description {
  color: #666666;
}

.content {
  display: flex;
  background-color: #32bea6;
  color: white;
}

.subscription,
.why-us {
  padding: 20px;
  flex: 1;
}

.subscription {
  padding-top: 70px;
  background-color: #2ab3b1;
  text-align: left;
}

.subscription h2 {
  margin-top: 0;
}

.price {
  font-size: 24px;

  margin: 10px 0;
}

.price span {
  font-weight: bolder;
  font-size: 16px;
}

.access {
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  background-color: #c0df33;
  color: white;
  border: none;
  padding: 15px 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #91b52f;
}

.why-us {
  background-color: #4bbfbd;
  color: white;
}

.why-us h2 {
  margin-top: 0;
}

.why-us ul {
  list-style-type: none;
  padding: 0;
}

.why-us li {
  margin: 10px 0;
}
